---
import { ViewTransitions } from 'astro:transitions';
import Layout from './Layout.astro';

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
  <ViewTransitions fallback="swap" />
  
  <div transition:animate="slide">
    <slot />
  </div>
</Layout>

<style>
  /* Custom transition styles */
  ::view-transition-old(root) {
    animation: 0.5s cubic-bezier(0.76, 0, 0.24, 1) both slide-to-left;
  }
  
  ::view-transition-new(root) {
    animation: 0.5s cubic-bezier(0.76, 0, 0.24, 1) both slide-from-right;
  }
</style>